In [1]:
#Credit to Edward Ross - https://skeptric.com/notebooks/Parsing%20Experience%20from%20Adzuna%20Job%20Ads.html
import re
import pandas as pd
import spacy
from spacy.util import filter_spans
from spacy.tokens import Span
from spacy.matcher import Matcher

In [2]:
from spacy import displacy
from IPython.display import HTML, display

In [11]:
import en_core_web_sm
nlp = en_core_web_sm.load()

In [12]:
df = pd.read_csv('data_science_jobs.csv')

In [13]:
df = df.drop(df.columns[0], axis = 1)

In [14]:
import regex as re
df['Job Description'] = df['Job Description'].apply(lambda x: re.sub(r'[!;,\s]', ' ', x))
df.sample(50, random_state = 5)

,Job Title,Company Name,Job Description,Location,Job Board
852,HEAD OF ANALYTICS & INSIGHTS/DATA SCIENTIST,Saje Natural Wellness,For over 25 years we’ve been helping our commu...,Vancouver,Indeed
207,Machine Learning Engineer,Aviva,About the job Individually we are people but ...,Markham,Indeed
627,"Data Engineer / Power BI Developer, Omnia AI",Deloitte\n,Job Type: Permanent Primary Location: Vancouve...,Vancouver,Glassdoor
671,Junior Business Intelligence Developer - Data ...,CAPRiser Group,Our subsidiary is in PropTech and real estate ...,Toronto,Indeed
661,"Data Scientist Technical Lead (Montreal), Inta...",Intact\n,Who needs insurance? Everybody. That keeps us ...,Montreal,Glassdoor
489,Bio informaticien/Bioinformatics scientist,GenAIz\n,Avant le SRAS-CoV-2 un vaccin qui était dével...,Montreal,Glassdoor
434,Data Scientist,Awakedata,RESPONSIBILITIES: Develop state-of-the-art com...,Burnaby,Glassdoor
448,Scientifique de données / Data Scientist,BusPatrol\n,Qui sommes-nous : BusPatrouille est une entrep...,Montreal,Glassdoor
634,Data Management Specialist - Immunotoxicology,Charles River Laboratories\n,For 70 years Charles River employees have wor...,Senneville,Glassdoor
748,Data Scientist,F8th,We're transforming the Cyber Security industry...,Midtown Toronto,Glassdoor
831,Senior Professional Environmental Scientist (G...,Madrone Environmental Services Ltd,Senior Professional Environmental Scientist an...,Abbotsford,Glassdoor
396,Data Scientist,Novisto,At Novisto our vision is to be the world's le...,Montreal,Glassdoor
438,Data Scientist,Peritus.ai,About Peritus.ai Peritus is dedicated to bui...,Montreal,Glassdoor
11,Junior Project Scientist / Junior Project Tech...,SNC-Lavalin\n,Junior Project Scientist / Junior Project Tech...,Fort St. John,Glassdoor
59,Data Engineer - 313378,Procom\n,Ingénieur de données Dans le cadre de ses ent...,Montreal,Glassdoor
383,Senior Data Analyst,ZTR,Are you passionate about implementing and main...,London,Indeed
591,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc\n,Acerta’s machine learning platforms leverage a...,Kitchener,Glassdoor
577,Senior Data Engineer - Remote,Koho\n,About KOHO KOHO is a quickly scaling FinTech c...,Canada,Glassdoor
341,DATA SCIENTIST,Leger\n,WHO WE ARE At Leger we know Canadians. With ...,Midtown Toronto,Glassdoor
355,"Data Science Manager, Omnia AI",Deloitte\n,Job Type: Permanent Primary Location: Toronto ...,Midtown Toronto,Glassdoor
416,DATA ENGINEER,The Globe and Mail\n,DATA ENGINEER POSITION CODE: 2021-063 LOCATION...,Midtown Toronto,Glassdoor
352,Data Engineer,Mariner Partners\n,Company Description As one of the largest prof...,Halifax,Glassdoor
733,Principal Data Scientist,Veeva Systems,Veeva [NYSE: VEEV] is the leader in cloud-base...,Toronto,Indeed
456,Data Engineer - Mississauga,Randstad\n,Our client located in Mississauga Ontario is ...,Mississauga,Glassdoor
708,Product Development Confectionary Scientist,Cronos Group Inc.\n,At Cronos Group we hire talented people who t...,Stayner,Glassdoor
12,Machine Learning Scientist,Amazon Dev Centre Canada ULC\n,Bachelor’s degree in Computer Science Statist...,Vancouver,Glassdoor
208,Data Engineering Intern (Fall 2021) - Toronto,Coursera\n,Are you ready to join a team of tech-savvy mus...,Remote,Glassdoor
537,"Manager, Data Science - Research & Analytics T...",Tonal\n,Who We Are Tonal is the smartest home gym and...,Midtown Toronto,Glassdoor
639,Ingénieur de données senior / Sr. Data Engineer,McKesson Canada Corporation / La Corporation M...,English version to follow McKesson touche la ...,Saint-Laurent,Glassdoor
669,Solution Architect (Big Data) - Canada,Wavicle Data Solutions\n,Wavicle Data Solutions designs and delivers da...,Remote,Glassdoor
698,Data Analyst Health Surveillance - BC Centre f...,PHSA\n,Data Analyst Health Surveillance Epidemiology ...,Vancouver,Glassdoor
266,"Optimization Specialist, Analytics",Torstar,Company Description Torstar Corporation is a ...,Toronto,Indeed
761,Machine Learning Engineer / Data Scientist,TerraSense Analytics Ltd,CATCHY INTRO Honestly we’ve been brainstormi...,Kelowna,Glassdoor
399,"Data Engineer, Data Lake",Altus Group\n,Job Category: Software Opportunity Awaits at...,Midtown Toronto,Glassdoor
686,Product Manager - Data Science - Toronto Hub,Veeva Systems,Veeva [NYSE: VEEV] is the leader in cloud-base...,Toronto,Indeed
267,Data Scientist,Oxford Properties,Why join us? Are you looking to join an innov...,Toronto,Indeed
726,Data Engineer,Pinterest\n,About Pinterest: Millions of people across th...,Midtown Toronto,Glassdoor
193,Cloud Data Engineer,Digital On Us\n,Who is DigitalOnUs? At DigitalOnUs we not on...,Midtown Toronto,Glassdoor
60,Data Engineer,The Green Organic Dutchman Holdings Ltd,The Green Organic Dutchman is a global leader ...,Mississauga,Glassdoor
750,Principal Clinical Data Scientist Lead,PRA Health Sciences\n,Do you want to watch clinical development chan...,Remote,Glassdoor
179,Data Solution Architect,Onix Networking Corp\n,Summary: Onix Solution Architect helps custome...,Quebec,Glassdoor
370,Data Scientist,Canadian Tire\n,The CTC Personalization & Customer Analytics t...,Midtown Toronto,Glassdoor
582,Data Engineer/Analyst - Active Safety & Autono...,General Motors\n,About GM There’s never been a more exciting t...,Ontario,Glassdoor
512,Senior Data Scientist,Interac\n,At Interac we design products and solutions t...,Midtown Toronto,Glassdoor
728,Applied Scientist - Machine Learning,Microsoft\n,Applied Scientist - Machine Learning The Inte...,Vancouver,Glassdoor
673,Senior Machine Learning Engineer,Clearco,Clearco is a company built by founders for fou...,Ontario,Indeed
664,"Specialist, Loyalty Analytics",Cineplex,Company Description Life at Cineplex: Cineple...,Toronto,Indeed
176,Data Engineer,ScanSource Canada Inc.\n,Summary: The Data Engineer will be responsibl...,Mississauga,Glassdoor
283,Cloud Data Engineer,apptoza inc,Role: Cloud Data Engineer Location: Toronto ...,Midtown Toronto,Glassdoor
753,"Senior Data Analyst, Growth",NorthOne,We make small businesses more successful throu...,Toronto,Indeed

In [15]:
ads = list(df['Job Description'])

In [16]:
len(ads)

881

In [17]:
def highlight_terms(terms, texts):
    for doc in nlp.pipe(texts):
        for sentence in set([tok.sent for tok in doc if tok.lower_ in terms]):
            text = sentence.text.strip()
            markup = re.sub(fr'(?i)\b({"|".join(terms)})\b', r'<strong>\1</strong>', text)
            display(HTML(markup))
            print('-----')

In [19]:
matcher = Matcher(nlp.vocab)
pattern = [{'POS': 'NOUN', 'OP': '+'}, {'LOWER': 'experience'}]
matcher.add('experience_noun', [pattern])

pattern = [{'LOWER': 'experience'}, {'POS': 'ADP'}, {'POS': {'IN': ('DET', 'NOUN', 'PROPN')}, 'OP': '+'}]
matcher.add('experience_adp', [pattern])

In [20]:
doc = nlp(ads[0])
matcher(doc)

[(12285600890577657150, 117, 119),
 (1417798585642285709, 239, 242),
 (1417798585642285709, 239, 243),
 (12285600890577657150, 265, 267)]

In [21]:
def show_extraction(examples, *extractors):
    seen = set()
    for doc in nlp.pipe(examples):
        doc.ents = filter_spans([Span(doc, start, end, label) for extractor in extractors for label, start, end in extractor(doc)])
        for tok in doc:
            if tok.lower_ == 'experience':
                sentence = tok.sent
                if sentence.text in seen:
                    continue
                seen.update([sentence.text])
                if not sentence.ents:
                    doc.ents = list(doc.ents) + [Span(doc, tok.i, tok.i+1, 'MISSING')]
                displacy.render(sentence, style='ent', options = {'colors': {'MISSING': 'pink',
                                                                            'EXPERIENCE': 'lightgreen'}})

In [22]:
show_extraction(ads[:5], matcher)

In [23]:
def get_extractions(examples, *extractors):
    # Could use context instead of enumerate
    for idx, doc in enumerate(nlp.pipe(examples, batch_size=100, disable=['ner'])):
        for ent in filter_spans([Span(doc, start, end, label) for extractor in extractors for label, start, end in extractor(doc)]):
            sent = ent.root.sent
            yield ent.text, idx, ent.start, ent.end, ent.label_, sent.start, sent.end

In [24]:
list(get_extractions(ads[:3], matcher))

[('user experience', 0, 117, 119, 'experience_noun', 92, 121),
 ('experience in the application', 0, 239, 243, 'experience_adp', 224, 304),
 ('techniques Experience', 0, 265, 267, 'experience_noun', 224, 304),
 ('data science experience', 1, 143, 146, 'experience_noun', 134, 169),
 ('software development experience Experience',
  1,
  157,
  161,
  'experience_noun',
  134,
  169),
 ('Experience with time', 1, 169, 172, 'experience_adp', 169, 256),
 ('environment Experience', 1, 197, 199, 'experience_noun', 169, 256),
 ('fitness experience', 2, 73, 75, 'experience_noun', 62, 93),
 ('experience in ETL', 2, 399, 402, 'experience_adp', 384, 561),
 ('Experience with Informatica IICS', 2, 445, 449, 'experience_adp', 384, 561),
 ('Experience with message queues', 2, 455, 459, 'experience_adp', 384, 561),
 ('experience in a DevOps environment Experience',
  2,
  468,
  474,
  'experience_adp',
  384,
  561)]

In [25]:
def extract_df(*extractors, n_max=None, **kwargs):
    if n_max is None:
        n_max = len(df)
    ent_df = pd.DataFrame(list(get_extractions(df[:n_max]['Job Description'], *extractors)),
                          columns=['text', 'docidx', 'start', 'end', 'label', 'sent_start', 'sent_end'])
    return ent_df.merge(df, how='left', left_on='docidx', right_index=True)

In [26]:
%time 
ent_df = extract_df(matcher, n_max=1000)
ent_df.head()

CPU times: total: 0 ns
Wall time: 0 ns

,text,docidx,start,end,label,sent_start,sent_end,Job Title,Company Name,Job Description,Location,Job Board
0,user experience,0,117,119,experience_noun,92,121,Data Scientist,Metricsflow Inc,At Metricsflow we work to shape the future of...,St. John's,Glassdoor
1,experience in the application,0,239,243,experience_adp,224,304,Data Scientist,Metricsflow Inc,At Metricsflow we work to shape the future of...,St. John's,Glassdoor
2,techniques Experience,0,265,267,experience_noun,224,304,Data Scientist,Metricsflow Inc,At Metricsflow we work to shape the future of...,St. John's,Glassdoor
3,data science experience,1,143,146,experience_noun,134,169,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc,Acerta’s machine learning platforms leverage a...,Kitchener,Indeed
4,software development experience Experience,1,157,161,experience_noun,134,169,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc,Acerta’s machine learning platforms leverage a...,Kitchener,Indeed

In [27]:
def aggregate_df(df, col=['text']):
    return (df
            .groupby(col)
            .agg(n_company=('Company Name', 'nunique'))
            .reset_index()
            .sort_values(['n_company'], ascending=False)
        )

In [28]:
aggregate_df(ent_df).head(10)

                            text  n_company
1393             work experience         47
1406            years experience         39
1202         industry experience         34
599          customer experience         29
796              experience in a         27
1383             user experience         23
874   experience in data science         20
323       Experience with Python         19
1066      experience with Python         15
934            experience in the         13

In [29]:
def showent(docidx, start, end, label, sent_start, sent_end, **kwargs):
    # We don't need to parse it, so just make_doc
    doc = nlp.make_doc(ads[docidx])
    doc.ents = [Span(doc, start, end, label)]
    sent = doc[sent_start:sent_end]
    displacy.render(sent, style='ent')
    
def showent_df(df):
    for idx, row in df.iterrows():
        showent(**row)

In [30]:
showent_df(ent_df.query('text == "experience in a"').head())

In [31]:
def extract_noun_phrase_experience(doc):
    for np in doc.noun_chunks:
        if np[-1].lower_ == 'experience':
            if len(np) > 1:
                yield 'EXPERIENCE', np[0].i, np[-1].i

In [32]:
show_extraction(ads[:5], extract_noun_phrase_experience)

In [33]:
%time
ent_df = extract_df(extract_noun_phrase_experience, n_max=50000)

CPU times: total: 0 ns
Wall time: 0 ns

In [34]:
aggregate_df(ent_df).head(50)

                   text  n_company
1014           industry         28
984            hands-on         28
1186           relevant         24
935          equivalent         24
1386               work         18
1141       professional         16
244        Demonstrated         16
431               Prior         15
276           Extensive         15
1392               your         14
568              Strong         14
424            Previous         13
319            Hands-on         13
1288                the         13
452              Proven         12
958           extensive         12
524                 SQL         11
61             3+ years         11
1209      relevant work         11
670              a plus         10
1170            related         10
1101          practical          9
1317       the customer          9
752            an asset          9
853            customer          9
592                 The          8
87             5+ years          8
1118           previous          8
1199  relevant industry          8
1111          preferred          8
70            3-5 years          8
1351           the user          8
944     equivalent work          8
460              Python          7
449         Programming          7
858                data          7
555                Some          7
415           Practical          7
1228        significant          7
288            Friday            7
1401                  ·          7
1375               user          7
1121              prior          6
0                     (          6
287              Friday          6
1352              their          6
445        Professional          6
547         Significant          5
1388            working          5
42             2+ years          5

In [35]:
experience_qualifiers = ['previous', 'prior', 'following', 'recent', 'the above', 'past',
                         
                         'proven', 'demonstrable', 'demonstrated', 'relevant', 'significant', 'practical',
                         'essential', 'equivalent', 'desirable', 'required', 'considerable', 'similar',
                         'working', 'specific', 'qualified', 'direct', 'hands on', 'handson', 'hands-on'
                         
                         'strong', 'solid', 'good', 'substantial', 'excellent', 'the right', 'valuable', 'invaluable',
                         
                         'some', 'any', 'none', 'much', 'extensive', 'no', 'more',
                         'your', 'their', 'great',
                         'years', 'months',
                        ]

stopwords = ['a', 'an', '*', '**', '.', 'this', 'the', ':', 'Skills']

experience_qualifier_pattern = rf'\b(?:{"|".join(experience_qualifiers)})\b'

experience_qualifier_pattern

'\\b(?:previous|prior|following|recent|the above|past|proven|demonstrable|demonstrated|relevant|significant|practical|essential|equivalent|desirable|required|considerable|similar|working|specific|qualified|direct|hands on|handson|hands-onstrong|solid|good|substantial|excellent|the right|valuable|invaluable|some|any|none|much|extensive|no|more|your|their|great|years|months)\\b'

In [36]:
aggregate_df(ent_df[(~ent_df.text.str.lower().str.contains(experience_qualifier_pattern)) & # Not a qualifier
                     ~ent_df.text.isin(stopwords)]).head(50)

                      text  n_company
725               hands-on         28
753               industry         28
1026                  work         18
858           professional         16
384                 Strong         14
206               Hands-on         13
351                    SQL         11
467                 a plus         10
880                related         10
621               customer          9
537               an asset          9
974           the customer          9
404                    The          8
1005              the user          8
836              preferred          8
626                   data          7
308                 Python          7
302            Programming          7
181               Friday            7
1019                  user          7
1031                     ·          7
298           Professional          6
180                 Friday          6
0                        (          6
862            programming          5
922             statistics          5
366                  Scala          4
375                  Spark          4
398                Tableau          4
416                   Work          4
581               business          4
131           Data Science          4
646           data science          4
966               the best          4
699             experience          4
927                 strong          4
629          data analysis          3
863            progressive          3
135       Data integration          3
1027             workflows          3
941              technical          3
281               Power BI          3
908   software development          3
874             real world          3
861      professional work          3
352                  SQL            3
546              an asset)          3
789               modeling          3
732          hands-on work          3
724                 global          3

In [37]:
def extract_adp_experience(doc, label='EXPERIENCE'):
    for tok in doc:
        if tok.lower_ == 'experience':
            for child in tok.rights:
                if child.dep_ == 'prep':
                    for obj in child.children:
                        if obj.dep_ == 'pobj':
                            yield label, obj.left_edge.i, obj.i+1

In [38]:
show_extraction(ads[10:15], extract_adp_experience)

In [39]:
def extract_adp_experience_2(doc):
    for np in doc.noun_chunks:
        start_tok = np[0].i
        if start_tok >= 2 and doc[start_tok - 2].lower_ == 'experience' and doc[start_tok - 1].pos_ == 'ADP':
            yield 'EXPERIENCE', start_tok, start_tok + len(np)

In [40]:
show_extraction(ads[10:15], extract_adp_experience_2)

In [41]:
%time 
ent_adp_df = extract_df(extract_adp_experience, n_max=50)

CPU times: total: 0 ns
Wall time: 0 ns

In [42]:
%time 
ent_adp_df = extract_df(extract_adp_experience_2, n_max=50)

CPU times: total: 0 ns
Wall time: 0 ns

In [43]:
%time 
ent_adp_df = extract_df(extract_adp_experience, n_max=50000)

CPU times: total: 0 ns
Wall time: 0 ns

In [44]:
aggregate_df(ent_adp_df).head(50)

                                                   text  n_company
334                                              Python         31
375                                                 SQL         19
816                                        data science         15
760                                                data         13
640                                      big data tools         13
273                                    Machine Learning         11
839                                  data visualization         10
1192                               relational databases          9
844                            data visualization tools          9
339                                           Python  R          8
1188                                     relational SQL          8
639                               big data technologies          8
454                                     a Data Engineer          8
460                                    a Data Scientist          8
1233                               software development          7
1153                              programming languages          7
1004                                   machine learning          7
1088                                                one          7
1105                                      our customers          7
873                                         development          6
804                                       data pipeline          6
652                                            building          6
1260                          stream-processing systems          5
600                                                 any          5
312                                               NoSQL          5
1085  object-oriented/object function scripting lang...          5
869                                           designing          5
1309                                    the application          5
763                                       data analysis          5
1209                                      schema design          5
419                                             Tableau          5
142                                        Data Science          5
16                                                  AWS          5
698                                      cloud services          5
58                                                Azure          4
767                                      data analytics          4
528                                      a similar role          4
228                                              Hadoop          4
917                                                 etc          4
607                                        applications          4
186                                           ETL tools          4
1162                                             python          4
1166                              quantitative analysis          4
950          hands-on quantitative/statistical analysis          4
1250             statistical and data mining techniques          4
853                                           databases          4
302                                                 NLP          4
406                                               Spark          4
1201                                             retail          4
682                                               cloud          4

In [45]:
showent_df(ent_adp_df.query("text=='C'").head(5))

In [46]:
showent_df(ent_adp_df.query("text=='R'").head(5))

In [47]:
def highlight_text_context(terms, texts, n_before=1, n_after=2):
    context = []
    for doc in nlp.pipe(texts):
        sentences = list(doc.sents)
        idxs = [i for i, sent in enumerate(sentences) if any(term in sent.text.lower() for term in terms)]
        
        for idx in idxs:
            before = ''.join(sent.text for sent in sentences[max(idx-n_before, 0):idx])
            after = ''.join(sent.text for sent in sentences[idx+1:min(idx+n_before+1, len(sentences))])
            text = sentences[idx].text
            markup = re.sub(fr'(?i)\b({"|".join(terms)})\b', r'<strong>\1</strong>',
                                 f'<span style="color:blue">{text}</span>')
            display(HTML(before + markup + after))

In [48]:
terms = ['experience']

for _, q in ent_adp_df.query("text=='a'").head(7).iterrows():
    doc = nlp(q.FullDescription)
    if q.sent_start > 0:
        prev_sent = doc[q.sent_start - 1].sent.text
    else:
        prev_sent = ''
    
    if q.sent_end < len(doc):
        next_sent = doc[q.sent_end].sent.text
    else:
        next_sent = ''
        
    text = doc[q.sent_start:q.sent_end].text
    markup = re.sub(fr'(?i)\b({"|".join(terms)})\b', r'<strong>\1</strong>',
                     f'<span style="color:blue">{text}</span>')
    display(HTML(prev_sent + markup + next_sent))

In [49]:
def get_left_span(tok, label='', include=True):
    offset = 1 if include else 0
    idx = tok.i
    while idx > tok.left_edge.i:
        if tok.doc[idx - 1].pos_ in ('NOUN', 'PROPN', 'ADJ', 'X'):
            idx -= 1
        else:
            break
    return label, idx, tok.i+offset

In [50]:
def get_conjugations(tok):
    new = [tok]
    while new:
        tok = new.pop()
        yield tok
        for child in tok.children:
            if child.dep_ == 'conj':
                new.append(child)

In [51]:
#old
EXP_TERMS = ['experience']
def extract_adp_conj_experience(doc, label='EXPERIENCE'):
    for tok in doc:
        if tok.lower_ in EXP_TERMS:
            for child in tok.rights:
                if child.dep_ == 'prep':
                    for obj in child.children:
                        if obj.dep_ == 'pobj':
                            for conj in get_conjugations(obj):
                                yield get_left_span(conj, label)

In [52]:
show_extraction(ads[10:15], extract_adp_conj_experience)

In [53]:
show_extraction(ads[:10], extract_adp_conj_experience)

In [54]:
def extract_verb_maybeadj_noun_experience(doc, label='EXPERIENCE'):
    for tok in doc:
        if tok.lower_ in EXP_TERMS:
            for child in tok.rights:
                if child.dep_ == 'acl':
                    for gc in child.children:
                        if gc.dep_ == 'prep':
                            for ggc in gc.children:
                                if ggc.dep_ == 'pobj':
                                    for c in get_conjugations(ggc):
                                        yield get_left_span(c, 'EXPERIENCE')
                        elif gc.dep_ == 'dobj':
                            for c in get_conjugations(gc):
                                yield get_left_span(c, 'EXPERIENCE')

In [55]:
show_extraction(ads[5:10], extract_verb_maybeadj_noun_experience)

In [56]:
extract_exps = [extract_adp_conj_experience,]

In [57]:
n_ads = len(df)

In [58]:
%%time
df_ents = extract_df(*extract_exps, n_max=n_ads)

CPU times: total: 32.7 s
Wall time: 32.8 s

In [59]:
df_ents

,text,docidx,start,end,label,sent_start,sent_end,Job Title,Company Name,Job Description,Location,Job Board
0,application,0,242,243,EXPERIENCE,224,304,Data Scientist,Metricsflow Inc,At Metricsflow we work to shape the future of...,St. John's,Glassdoor
1,tensorflow,1,164,165,EXPERIENCE,134,169,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc,Acerta’s machine learning platforms leverage a...,Kitchener,Indeed
2,sklearn,1,167,168,EXPERIENCE,134,169,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc,Acerta’s machine learning platforms leverage a...,Kitchener,Indeed
3,operations data,1,175,177,EXPERIENCE,169,256,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc,Acerta’s machine learning platforms leverage a...,Kitchener,Indeed
4,data modeling,2,403,405,EXPERIENCE,384,561,Data Engineer,GoodLife Fitness\n,Position Description DATA ENGINEER **This ...,Midtown Toronto,Glassdoor
...,...,...,...,...,...,...,...,...,...,...,...,...
2839,variety,879,396,397,EXPERIENCE,365,448,Data Engineer,Cyient\n,Cyient is a global engineering and technology ...,Montreal,Glassdoor
2840,Data Engineer,880,441,443,EXPERIENCE,432,467,Principal Data Engineer,ELEMENTS Global Services,Elements Global Services is an award-winning H...,Toronto,Indeed
2841,NoSQL database technologies,880,523,526,EXPERIENCE,515,532,Principal Data Engineer,ELEMENTS Global Services,Elements Global Services is an award-winning H...,Toronto,Indeed
2842,modern programming languages,880,538,541,EXPERIENCE,532,559,Principal Data Engineer,ELEMENTS Global Services,Elements Global Services is an award-winning H...,Toronto,Indeed
2843,tools,880,542,543,EXPERIENCE,532,559,Principal Data Engineer,ELEMENTS Global Services,Elements Global Services is an award-winning H...,Toronto,Indeed

In [60]:
showent_df(df_ents[:2])

In [61]:
df_ent_agg = aggregate_df(df_ents)
df_ent_agg.head(10)

                  text  n_company
425             Python         42
462                SQL         28
1075  machine learning         22
818       data science         22
768               data         20
385              NoSQL         18
1506             tools         18
945         experience         17
878        development         16
937                etc         14

In [62]:
from flashtext import KeywordProcessor

In [63]:
keyword_processor = KeywordProcessor(case_sensitive=True)

In [64]:
#selecting most popular
skills = df_ent_agg.query('n_company >= 3').text
len(skills)

161

In [65]:
for skill in skills:
    keyword_processor.add_keyword(skill)

In [66]:
from collections import Counter

In [67]:
skills = list(
(df_ent_agg
 .query('n_company >= 3')
).text
)
len(skills)

161

In [68]:
n_max=1000
for a,b,c in zip(skills[:n_max:3],skills[1:n_max:3],skills[2:n_max:3]):
     print('{:<35}{:<35}{:<}'.format(a,b,c))

Python                             SQL                                machine learning
data science                       data                               NoSQL
tools                              experience                         development
etc                                Machine Learning                   R
big data tools                     Experience                         technologies
data visualization                 big data technologies              relational databases
.                                  years                              data analysis
programming languages              Data Scientist                     software development
Data Engineer                      data visualization tools           customers
building                           relational SQL                     Tableau
analysis                           implementation                     cloud
processing systems                 object function scripting languagesdata analytics
frameworks                         AWS                                one
statistical analysis               field                              techniques
areas                              machine                            application
optimization                       analytics                          Azure
Docker                             data pipeline                      predictive modeling
designing                          related field                      degree
Data Science                       libraries                          more
design                             model development                  Databricks
GCP                                any                                ML
applications                       computer vision                    cloud services
management                         industry                           Scala
schema design                      data engineering                   NLP
python                             Spark                              projects
quantitative analysis              Java                               systems
natural language processing        Snowflake                          BI tools
-                                  ability                            streaming
deployment                         solutions                          databases
environment                        data mining techniques             financial industry
Deep Learning frameworks           consulting                         similar role
ETL tools                          modern programming languages       automation
retail                             track record                       analytical tools
area                               Hadoop                             related business areas
reporting                          High Performance Computing         Data Science tools
Kubernetes                         ML frameworks                      Jenkins
Degree                             related occupation                 role
Git                                services                           algorithms
MLOps                              machine learning libraries         e
deep learning                      data warehousing                   data transformation modules
data scripting languages           data processing                    exposure
forecasting                        infrastructure                     common data science toolkits
cloud environments                 job                                least one
business intelligence              biotechnology industry             programming
messaging                          methodologies                      methods
millions                           analytics tools                    analytics platforms
agile methodology                  modern R packages                  Statistics
SQL Experience                     other programming languages        packages
PhD                                process                            Data Engineering
dimensional data                   Apache Airflow                     visualization
web development                    BigQuery                           Ansible
Apache Spark                       understanding                      Agile development methods
AWS technologies                   Big Data technologies              teams

In [69]:
def get_extractions_2(examples, *extractors):
    # Could use context instead of enumerate
    doc = nlp(examples, disable=['ner'])
    for ent in filter_spans([Span(doc, start, end, label) for extractor in extractors for label, start, end in extractor(doc)]):
        sent = ent.root.sent
        yield ent.text

In [70]:
def list_skills(examples, *extractors):
    return list(get_extractions_2(examples, *extractors))

In [82]:
print(list_skills(df['Job Description'][10], extract_adp_conj_experience))

['BigQuery Experience']

In [72]:
#for debugging visually
print(show_extraction(df['Job Description'][10]), extract_adp_conj_experience)

None <function extract_adp_conj_experience at 0x000001EDD1AE2CB0>

In [73]:
%%time
#create a new column in df with the fxn that works
df['skills'] = df['Job Description'].apply(lambda x: list_skills(x, extract_adp_conj_experience))

CPU times: total: 41.2 s
Wall time: 41.2 s

In [74]:
df.head()

,Job Title,Company Name,Job Description,Location,Job Board,skills
0,Data Scientist,Metricsflow Inc,At Metricsflow we work to shape the future of...,St. John's,Glassdoor,[application]
1,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc,Acerta’s machine learning platforms leverage a...,Kitchener,Indeed,"[tensorflow, sklearn, operations data]"
2,Data Engineer,GoodLife Fitness\n,Position Description DATA ENGINEER **This ...,Midtown Toronto,Glassdoor,"[data modeling, Cloud platforms, Informatica I..."
3,Safety Aggregate Reporting & Analytics Coordin...,IQVIA,Job Overview Manage the administrative support...,Kirkland,Indeed,[]
4,Senior Data Engineer,Samsung Electronics\n,Position Summary The SmartThings Big Data tea...,Vancouver,Glassdoor,"[big data engineering, large scale, high avail..."

In [75]:
df.sample(50, random_state = 5)

,Job Title,Company Name,Job Description,Location,Job Board,skills
852,HEAD OF ANALYTICS & INSIGHTS/DATA SCIENTIST,Saje Natural Wellness,For over 25 years we’ve been helping our commu...,Vancouver,Indeed,"[market research, customer strategy Experience..."
207,Machine Learning Engineer,Aviva,About the job Individually we are people but ...,Markham,Indeed,"[microservice architecture, pandas, numpy]"
627,"Data Engineer / Power BI Developer, Omnia AI",Deloitte\n,Job Type: Permanent Primary Location: Vancouve...,Vancouver,Glassdoor,[high proficiency]
671,Junior Business Intelligence Developer - Data ...,CAPRiser Group,Our subsidiary is in PropTech and real estate ...,Toronto,Indeed,"[mining, CSS, JavaScript, one, more, non-relat..."
661,"Data Scientist Technical Lead (Montreal), Inta...",Intact\n,Who needs insurance? Everybody. That keeps us ...,Montreal,Glassdoor,"[field, source data mining frameworks]"
489,Bio informaticien/Bioinformatics scientist,GenAIz\n,Avant le SRAS-CoV-2 un vaccin qui était dével...,Montreal,Glassdoor,"[multidisciplinary bioinformatics projects, KE..."
434,Data Scientist,Awakedata,RESPONSIBILITIES: Develop state-of-the-art com...,Burnaby,Glassdoor,"[big data techniques, SQL]"
448,Scientifique de données / Data Scientist,BusPatrol\n,Qui sommes-nous : BusPatrouille est une entrep...,Montreal,Glassdoor,[]
634,Data Management Specialist - Immunotoxicology,Charles River Laboratories\n,For 70 years Charles River employees have wor...,Senneville,Glassdoor,[]
748,Data Scientist,F8th,We're transforming the Cyber Security industry...,Midtown Toronto,Glassdoor,"[statistical package, software development, ma..."
831,Senior Professional Environmental Scientist (G...,Madrone Environmental Services Ltd,Senior Professional Environmental Scientist an...,Abbotsford,Glassdoor,[Western Canada]
396,Data Scientist,Novisto,At Novisto our vision is to be the world's le...,Montreal,Glassdoor,"[new employee, technologies, NLP techniques, a..."
438,Data Scientist,Peritus.ai,About Peritus.ai Peritus is dedicated to bui...,Montreal,Glassdoor,"[Natural Language Processing, building knowled..."
11,Junior Project Scientist / Junior Project Tech...,SNC-Lavalin\n,Junior Project Scientist / Junior Project Tech...,Fort St. John,Glassdoor,[]
59,Data Engineer - 313378,Procom\n,Ingénieur de données Dans le cadre de ses ent...,Montreal,Glassdoor,[]
383,Senior Data Analyst,ZTR,Are you passionate about implementing and main...,London,Indeed,"[relational, R, similar Experience]"
591,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc\n,Acerta’s machine learning platforms leverage a...,Kitchener,Glassdoor,"[tensorflow, sklearn, operations data]"
577,Senior Data Engineer - Remote,Koho\n,About KOHO KOHO is a quickly scaling FinTech c...,Canada,Glassdoor,"[Kubernetes cluster management, data processin..."
341,DATA SCIENTIST,Leger\n,WHO WE ARE At Leger we know Canadians. With ...,Midtown Toronto,Glassdoor,"[SQL, business intelligence, data, large datab..."
355,"Data Science Manager, Omnia AI",Deloitte\n,Job Type: Permanent Primary Location: Toronto ...,Midtown Toronto,Glassdoor,"[data mining, predictive models, experience, d..."
416,DATA ENGINEER,The Globe and Mail\n,DATA ENGINEER POSITION CODE: 2021-063 LOCATION...,Midtown Toronto,Glassdoor,"[data warehousing technologies, big data tools..."
352,Data Engineer,Mariner Partners\n,Company Description As one of the largest prof...,Halifax,Glassdoor,"[andhybrid environments, large enterprise]"
733,Principal Data Scientist,Veeva Systems,Veeva [NYSE: VEEV] is the leader in cloud-base...,Toronto,Indeed,[point person]
456,Data Engineer - Mississauga,Randstad\n,Our client located in Mississauga Ontario is ...,Mississauga,Glassdoor,"[software engineering environment Experience, ..."
708,Product Development Confectionary Scientist,Cronos Group Inc.\n,At Cronos Group we hire talented people who t...,Stayner,Glassdoor,[]
12,Machine Learning Scientist,Amazon Dev Centre Canada ULC\n,Bachelor’s degree in Computer Science Statist...,Vancouver,Glassdoor,"[R, other scripting languages, extensive catalog]"
208,Data Engineering Intern (Fall 2021) - Toronto,Coursera\n,Are you ready to join a team of tech-savvy mus...,Remote,Glassdoor,"[Python, frameworks]"
537,"Manager, Data Science - Research & Analytics T...",Tonal\n,Who We Are Tonal is the smartest home gym and...,Midtown Toronto,Glassdoor,[]
639,Ingénieur de données senior / Sr. Data Engineer,McKesson Canada Corporation / La Corporation M...,English version to follow McKesson touche la ...,Saint-Laurent,Glassdoor,"[ETL Developer, scale enterprise data warehous..."
669,Solution Architect (Big Data) - Canada,Wavicle Data Solutions\n,Wavicle Data Solutions designs and delivers da...,Remote,Glassdoor,[AWS technologies]
698,Data Analyst Health Surveillance - BC Centre f...,PHSA\n,Data Analyst Health Surveillance Epidemiology ...,Vancouver,Glassdoor,[scientist]
266,"Optimization Specialist, Analytics",Torstar,Company Description Torstar Corporation is a ...,Toronto,Indeed,"[media Development, QA experience]"
761,Machine Learning Engineer / Data Scientist,TerraSense Analytics Ltd,CATCHY INTRO Honestly we’ve been brainstormi...,Kelowna,Glassdoor,"[building, shipping, video analytics, GUI deve..."
399,"Data Engineer, Data Lake",Altus Group\n,Job Category: Software Opportunity Awaits at...,Midtown Toronto,Glassdoor,[]
686,Product Manager - Data Science - Toronto Hub,Veeva Systems,Veeva [NYSE: VEEV] is the leader in cloud-base...,Toronto,Indeed,"[prescription claims data Perks, Benefits]"
267,Data Scientist,Oxford Properties,Why join us? Are you looking to join an innov...,Toronto,Indeed,"[data scientist, PowerBI, application developm..."
726,Data Engineer,Pinterest\n,About Pinterest: Millions of people across th...,Midtown Toronto,Glassdoor,"[big data, data pipeline design, development]"
193,Cloud Data Engineer,Digital On Us\n,Who is DigitalOnUs? At DigitalOnUs we not on...,Midtown Toronto,Glassdoor,"[Familiarity, Teradata, etc, Big Data Technolo..."
60,Data Engineer,The Green Organic Dutchman Holdings Ltd,The Green Organic Dutchman is a global leader ...,Mississauga,Glassdoor,"[field, Apache Airflow, Docker, web scraping, ..."
750,Principal Clinical Data Scientist Lead,PRA Health Sciences\n,Do you want to watch clinical development chan...,Remote,Glassdoor,[]
179,Data Solution Architect,Onix Networking Corp\n,Summary: Onix Solution Architect helps custome...,Quebec,Glassdoor,"[document management repository systems, relat..."
370,Data Scientist,Canadian Tire\n,The CTC Personalization & Customer Analytics t...,Midtown Toronto,Glassdoor,"[business environment, environment]"
582,Data Engineer/Analyst - Active Safety & Autono...,General Motors\n,About GM There’s never been a more exciting t...,Ontario,Glassdoor,"[data, vehicle data acquisition tools, Big Dat..."
512,Senior Data Scientist,Interac\n,At Interac we design products and solutions t...,Midtown Toronto,Glassdoor,"[Data Science, Redshift, more, years, Financia..."
728,Applied Scientist - Machine Learning,Microsoft\n,Applied Scientist - Machine Learning The Inte...,Vancouver,Glassdoor,[]
673,Senior Machine Learning Engineer,Clearco,Clearco is a company built by founders for fou...,Ontario,Indeed,"[founders, XGBoost deployments]"
664,"Specialist, Loyalty Analytics",Cineplex,Company Description Life at Cineplex: Cineple...,Toronto,Indeed,"[data analytics, business intelligence, loyalty]"
176,Data Engineer,ScanSource Canada Inc.\n,Summary: The Data Engineer will be responsibl...,Mississauga,Glassdoor,"[management solutions, Azure SQL Managed Insta..."
283,Cloud Data Engineer,apptoza inc,Role: Cloud Data Engineer Location: Toronto ...,Midtown Toronto,Glassdoor,[]
753,"Senior Data Analyst, Growth",NorthOne,We make small businesses more successful throu...,Toronto,Indeed,[]

In [77]:
with open('raw_skills.txt', 'w') as f:
    for skill in skills:
        print(skill, file=f)

In [78]:
df.to_csv('rule_based_extracted_skills.csv', index=False)

In [84]:
print(list_skills(df['Job Description'][10], extract_adp_conj_experience))

[]

In [87]:
[extract_adp_conj_experience(s)]
temp = extract_df(*extract_exps)

In [88]:
temp

,text,docidx,start,end,label,sent_start,sent_end,Job Title,Company Name,Job Description,Location,Job Board,skills
0,application,0,242,243,EXPERIENCE,224,304,Data Scientist,Metricsflow Inc,At Metricsflow we work to shape the future of...,St. John's,Glassdoor,[application]
1,tensorflow,1,164,165,EXPERIENCE,134,169,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc,Acerta’s machine learning platforms leverage a...,Kitchener,Indeed,"[tensorflow, sklearn, operations data]"
2,sklearn,1,167,168,EXPERIENCE,134,169,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc,Acerta’s machine learning platforms leverage a...,Kitchener,Indeed,"[tensorflow, sklearn, operations data]"
3,operations data,1,175,177,EXPERIENCE,169,256,Data Scientist - 05/12/21,Acerta Analytics Solutions Inc,Acerta’s machine learning platforms leverage a...,Kitchener,Indeed,"[tensorflow, sklearn, operations data]"
4,data modeling,2,403,405,EXPERIENCE,384,561,Data Engineer,GoodLife Fitness\n,Position Description DATA ENGINEER **This ...,Midtown Toronto,Glassdoor,"[data modeling, Cloud platforms, Informatica I..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2839,variety,879,396,397,EXPERIENCE,365,448,Data Engineer,Cyient\n,Cyient is a global engineering and technology ...,Montreal,Glassdoor,"[area, SQL, solutions, variety]"
2840,Data Engineer,880,441,443,EXPERIENCE,432,467,Principal Data Engineer,ELEMENTS Global Services,Elements Global Services is an award-winning H...,Toronto,Indeed,"[Data Engineer, NoSQL database technologies, m..."
2841,NoSQL database technologies,880,523,526,EXPERIENCE,515,532,Principal Data Engineer,ELEMENTS Global Services,Elements Global Services is an award-winning H...,Toronto,Indeed,"[Data Engineer, NoSQL database technologies, m..."
2842,modern programming languages,880,538,541,EXPERIENCE,532,559,Principal Data Engineer,ELEMENTS Global Services,Elements Global Services is an award-winning H...,Toronto,Indeed,"[Data Engineer, NoSQL database technologies, m..."
2843,tools,880,542,543,EXPERIENCE,532,559,Principal Data Engineer,ELEMENTS Global Services,Elements Global Services is an award-winning H...,Toronto,Indeed,"[Data Engineer, NoSQL database technologies, m..."

In [91]:
df.iloc[1]

Job Title                                  Data Scientist - 05/12/21
Company Name                          Acerta Analytics Solutions Inc
Job Description    Acerta’s machine learning platforms leverage a...
Location                                                   Kitchener
Job Board                                                     Indeed
skills                        [tensorflow, sklearn, operations data]
Name: 1, dtype: object

In [95]:
print('Job Description: ', df.iloc[1]['Job Description'])
print()
print('Job Skills: ', df.iloc[1]['skills'])

Job Description:  Acerta’s machine learning platforms leverage automotive assembly and vehicle data to detect the earliest indicators of future product failures. We help automakers optimize quality  safety  and reliability throughout the entire product life cycle  from the assembly line to the finish line.  As an integral part of the data science team at Acerta  you will productize  deploy  maintain  and monitor machine learning models running behind Acerta’s LinePulse and AutoPulse products. Our LinePulse SaaS platform enables automakers to identify anomalies in production data for enhanced testing  accelerated root cause analysis  and improved manufacturing output. Acerta’s AutoPulse SaaS platform enables predictive maintenance of connected and autonomous vehicles based on production  maintenance  and on-road data.  Requirements: Minimum of 3 - 5 years of data science experience using python Strong ML and statistics background 2+ years of software development experience Experience with keras  tensorflow  and sklearn. Experience with time-series and operations data is an asset Previous Kaggle experience or similar is a plus Ability to work in a fast-paced agile environment Experience using Git in a team environment Flexibility to adjust to changing priorities  requirements  and schedules Familiarity with working on remote linux instances Available in office full-time (KW)  Responsibilities: Own significant product requirements and drive them from development to deployment Tune and monitor machine learning models deployed for customers. Research and apply state of the art in model interpretation and explainability Package development in Acerta’s Codebase  We thank all applicants for their interest  only those candidates selected for an interview will be contacted. Acerta is committed to fostering a diverse and inclusive workplace. We strongly encourage applicants from all backgrounds and walks of life.

Job Skills:  ['tensorflow', 'sklearn', 'operations data']

In [97]:
show_extraction(ads[1], extract_adp_conj_experience)

In [117]:
show_extraction(ads[1:2], extract_adp_experience_2)

In [116]:
ads[1] = 'Experience with statistical analysis, numerical programming, or machine learning in Python'